body {
  margin: 0;
}

main {
  background: linear-gradient(to bottom, #fbebd9 25%, #ee5d6c, #6a0d83);
  font-family: Roboto , sans-serif;
  min-height: 100vh;
}

.starwars {
  max-width: 100%;
}

.loading-logo {
  left: 25%;
  position: absolute;
  top: -2rem;
}

.logo {
  left: 38%;
  position: absolute;
  top: -2rem;
  width: 25%;
}

.filters {
  border-bottom: 0.1rem solid #060000;
  border-top: 0.5rem solid #060000;
}

.filter-box {
  font-size: 0.9rem;
}
